.vscode/
.idea/
.ruff_cache/
.mypy_cache/
.pytest_cache/
**/__pycache__/**
**/*.pyc
*.cfg
dist/
build/
tracker-config.json
TrackingBackend/tracker-config.json
**/.DS_Store
# Nix
result
.envrc
.direnv/
