name: App Builder
on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
    branches:
      - main
      - master

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ env.GITHUB_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v4	
        with:	
          python-version: 3.10.11
      - name: Setup Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install python dependencies (Linux)
        if: ${{ matrix.os == 'ubuntu-latest'}}
        run: poetry install
      
      - name: Install python dependencies (Windows)
        if: ${{ matrix.os == 'windows-latest'}}
        run: |
          cd C:\Users\runneradmin\.local\bin
          poetry install

      - name: Install Linux dependencies
        if: ${{ matrix.os == 'ubuntu-latest'}}
        run: sudo apt install build-essential curl wget libssl-dev

      - name: Build Backend
        run: poetry run pyinstaller --noconfirm ETVR.spec TrackingBackend/main.py

      - name: Rename Linux Binary
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: mv ./dist/ETVR ./dist/ETVR.bin
      - uses: actions/upload-artifact@v2
        with:
          name: production-files
          path: dist
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create Directory
        run: mkdir -p dist
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: production-files
          path: ./dist
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install -g conventional-changelog-conventionalcommits
      - run: npm install -g semantic-release@v19.0.5
      - run: npm install -g @semantic-release/exec
      - run: npm install -g @semantic-release/git
      - run: npm install -g @semantic-release/release-notes-generator
      - run: npm install -g @semantic-release/changelog
      - run: npm install -g @semantic-release/github
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release
  cleanup:
    name: Cleanup actions
    needs:
      - deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "♻️ remove build artifacts"
        uses: geekyeggo/delete-artifact@v1
        with:
          name: production-files